.m-1 {
    margin: 1rem;
}

.m-1-5 {
    margin: 1.5rem;
}

.m-2 {
    margin: 2rem;
}

.m-2-5 {
    margin: 2.5rem;
}

.m-3 {
    margin: 3rem;
}

.m-3-5 {
    margin: 3.5rem;
}

.m-4 {
    margin: 4rem;
}

.m-4-5 {
    margin: 4.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-1-5 {
    padding: 1.5rem;
}

.p-2 {
    padding: 2rem;
}

.p-2-5 {
    padding: 2.5rem;
}

.p-3 {
    padding: 3rem;
}

.p-3-5 {
    padding: 3.5rem;
}

.p-4 {
    padding: 4rem;
}

.p-4-5 {
    padding: 4.5rem;
}

.container-fluid {
    width: 20vw;
}
