.text-center {
    text-align: center;
    vertical-align: middle;
    align-content: center;
}

.text-left {
    text-align: center;
    align-content: flex-start;
}

.text-right {
    text-align: right;
    align-content: flex-end;
}